.logo {
  font-family: Raleway;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.33;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.logo .accent {
  color: #4d5ae5;
  font-family: Raleway;
}

.mailto,
.mailto:hover,
.mailto:focus {
  color: #404bbf;
  font-style: normal;
  color: #434455;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.tel,
.tel:hover,
.tel:focus {
  color: #404bbf;
  font-style: normal;
  color: #434455;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.features {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}

.team {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}
.portfolio {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}
